@model IEnumerable<E_GUNLUK.Models.Note>

@{
    ViewBag.Title = "Index";
}




@{
    if (Model.ToList().Count() == 0)
    {
        <h1>There are no notes!</h1>

    }
    else
    {
        <span>Notes Written: @Model.ToList().Count()</span>
        foreach (var item in Model)
        {
            <div class="tc-ch">
                <div class="tch-img">
                    <a href="#"><img src="~/Content/images/1.jpg" class="img-responsive" alt="" /></a>
                </div>


                @{
                    if (item.Selected_tag.tag != null)
                    {
                        <a href="/Notes/Details/@item.NoteId" class="blog blue">@item.Selected_tag.tag</a>
                    }
                }






                <h3><a href="/Notes/Details/@item.NoteId">@Html.DisplayFor(modelItem => item.Title)</a></h3>

                <p id="text">
                    @Html.DisplayFor(modelItem => item.NoteText)<br />
                    <a class="" href="/Notes/Details/@item.NoteId">Keep reading</a>
                </p>
                <div class="blog-poast-info">
                    <ul>
                        <li><i class="glyphicon glyphicon-user"> </i><a class="admin" href="/Profiles/Details/@item.NoteTaker.Id"> @item.NoteTaker.FirstName @item.NoteTaker.LastName</a></li>
                        <li><i class="glyphicon glyphicon-calendar"> </i>@item.NoteDate</li>
                        <li><i class="glyphicon glyphicon-comment"> </i>@Html.Action("CommentsCounts", "Comments", new { id = item.NoteId })</li>
                        <li><i class="glyphicon glyphicon-comment"> </i>@Html.Action("LikesCounts", "Likes", new { id = item.NoteId })</li>
                    </ul>
                </div>

            </div>
                    }
                    <hr />


                    }
}
